<p>
  filter-pizza works!
</p>
<!--<div>-->
  <!--<input #price type="radio" onclick="var input = document.getElementById('price'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Price less than:-->
  <!--<input id="price" name="price" disabled="disabled"/>-->
  <!--<input #price type="radio" onclick="var input = document.getElementById('cuisine'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Cuisine:-->
  <!--<select #type id="cuisine" name="cuisine" disabled="disabled">-->
    <!--<option value="MEDITERRANEAN">MEDIT</option>-->
    <!--<option value="ORIENTAL">ORIENTAL</option>-->
  <!--</select>-->
<!--</div>-->
<!--<form>-->
  <!--<label>PriceLessThan</label>-->
  <!--<br>-->
  <!--<input type="checkbox" name="pricelessthan" [(ngModel)]="lessThan" id ="pricelessthan">-->
  <!--<input type="number" class="form-control" id="value"-->
         <!--required-->
         <!--[(ngModel)]="lessThanValue" name="lessThanValue">-->
  <!--{{lessThan}}-->
  <!--{{lessThanValue}}-->
  <!--<br>-->
  <!--<label for="cuisine">Cuisine</label>-->
  <!--<br>-->
  <!--<input type="checkbox" name="isCuisine" [(ngModel)]="isCuisine" id ="iscuisine">-->
  <!--<select class="form-control" id="cuisine" required-->
          <!--[(ngModel)]="cuisine" name="cuisine">-->
    <!--<option *ngFor="let c of cuisines" [value]="c">{{c}}</option>-->
  <!--</select>-->
  <!--{{isCuisine}}-->
  <!--{{cuisine}}-->
  <!--<hr>-->
  <!--<button type="submit" class="btn btn-success" (click)="filter()">-->
    <!--Filter-->
  <!--</button>-->
<!--</form>-->


<div>
  <input type="checkbox" name="priceLessThan" [(ngModel)]="priceLessThanCheckbox" id ="priceLessThanInput">
  <label>Price less than: </label>
  <input [(ngModel)]="priceLessThanValue" #priceLessThan/>
</div>
<div>
  <input type="checkbox" name="priceLessThan" [(ngModel)]="cuisineCheckbox" id ="cuisineInput">
  <label>Cuisine: </label>
  <select [(ngModel)]="cuisineValue" #cuisine>
    <option value="MEDITERRANEAN">Mediterranean</option>
    <option value="ORIENTAL">Oriental</option>
  </select>
</div>
<div>
  <button (click)="filter()">Filter</button>
</div>
<ul>
  <li *ngFor="let pizza of pizzas">
    ID: <b>{{pizza.id}}</b><br>
    Name: <b>{{pizza.name}}</b><br>
    Description: <b>{{pizza.description}}</b><br>
    Price: <b>{{pizza.price}}</b><br>
    Cuisine: <b>{{pizza.cuisine}}</b><br>
  </li>
</ul>
