<div *ngIf = "!toAdd">
  <label>
    {{message}}
  </label>
</div>
<div *ngIf = "!toAdd">
  <button (click)="add()">Add</button>
</div>
<div *ngIf = "toAdd">
  <div>
    <label> Name: </label>
    <input #pizzaName/>
  </div>
  <div>
    <label> Description: </label>
    <input #pizzaDescription/>
  </div>
  <div>
    <label> Price: </label>
    <input #pizzaPrice/>
  </div>
  <div>
    <label> Cuisine: </label>
    <select #cuisine>
      <option value="MEDITERRANEAN">Mediterranean</option>
      <option value="ORIENTAL">Oriental</option>
    </select>
  </div>

  <div>
    <button (click)="save(pizzaName.value,pizzaDescription.value,pizzaPrice.value,cuisine.value)">Save</button>
  </div>
</div>

